@model BezoekersDashboard.Models.Roos24

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Roos24</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Transactions" class="control-label"></label>
                <input asp-for="Transactions" class="form-control" />
                <span asp-validation-for="Transactions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recieved_Points" class="control-label"></label>
                <input asp-for="Recieved_Points" class="form-control" />
                <span asp-validation-for="Recieved_Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exchanche_Points" class="control-label"></label>
                <input asp-for="Exchanche_Points" class="form-control" />
                <span asp-validation-for="Exchanche_Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

